In [4]:
import pandas as pd
import openpyxl
import matplotlib

excel_data = pd.read_excel("769F0000.xlsx", sheet_name="Sheet1", engine="openpyxl")
toList = list(excel_data)
#print(excel_data["day"].tolist())

excel_data2 = pd.read_excel("769F0000.xlsx",
                            sheet_name="Sheet1",
                            usecols=["countryterritoryCode", "popData2019"],
                            engine="openpyxl")
print(excel_data2)

   countryterritoryCode  popData2019
0                   AFG     38041757
1                   AFG     38041757
2                   AFG     38041757
3                   AFG     38041757
4                   AFG     38041757
..                  ...          ...
94                  AFG     38041757
95                  AFG     38041757
96                  AFG     38041757
97                  AFG     38041757
98                  AFG     38041757

[99 rows x 2 columns]

In [54]:
excel_data2 = pd.read_excel("769F0000.xlsx",
                            sheet_name="Sheet1",
                            usecols="A:C",  
                            engine="openpyxl")
#excel_data2["dateRep"].tolist()
excel_data2 = excel_data2.rename(columns = {"day": "days", "month":"months"}, index = lambda x:"X_"+str(x))
#excel_data2 = excel_data2.rename(columns = lambda y:y+' x', index = lambda x:x+10)
excel_data2

        dateRep  days  months
X_0  2020-12-14    14      12
X_1  2020-12-13    13      12
X_2  2020-12-12    12      12
X_3  2020-12-11    11      12
X_4  2020-12-10    10      12
...         ...   ...     ...
X_94 2020-09-11    11       9
X_95 2020-09-10    10       9
X_96 2020-09-09     9       9
X_97 2020-09-08     8       9
X_98 2020-09-07     7       9

[99 rows x 3 columns]

In [10]:
excel_data3 = pd.read_excel("769F0000.xlsx",
                            sheet_name="Sheet1",
                            engine="openpyxl")
#excel_data3["day"].plot(kind="density", figsize=(14,6))
#xcel_data3["dateRep"]
excel_data3["countriesAndTerritories"].value_counts()

Afghanistan    99
Name: countriesAndTerritories, dtype: int64

<module 'pandas' from 'c:\\users\\pc\\appdata\\local\\programs\\python\\python38\\lib\\site-packages\\pandas\\__init__.py'>